body {
    background: #2980B9;
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
}

.search{
    width: 500px;
    margin-left: 30%;
    margin-top: 5vh;
}

.searchBtn{
    margin-left: 30%;
    margin-top: 5vh;
    border: 1px solid black;
    border-radius: 10%;
}

.info{
    text-align: center;
    margin: 2%;
    border: 1px solid black;
    background-color: white;
}